$color-mint_050: #fbfefd;
$color-mint_100: #e9f4ee;
$color-mint_200: #d7ece1;
$color-mint_300: #bee0ce;
$color-mint_400: #a3d2be;
$color-mint_500: #8dbaa7;

// Coral
$color-coral_050: #ffede5;
$color-coral_100: #ffc3a1;
$color-coral_200: #f6946a;
$color-coral_300: #ed6337;
$color-coral_400: #d74618;
$color-coral_500: #a9340f;

// Blacks
$color-black_050: #f5f1f3;
$color-black_100: #e9e5e7;
$color-black_200: #d1cdcf;
$color-black_300: #a39fa1;
$color-black_400: #797476;
$color-black_500: #5b5659;
$color-black_600: #4a4649;
$color-black_800: #2e2b2d;
$color-black_900: #211e1f;

// System
$color-error: #ff264d;
$color-error_dark: #c52542;
$color-warning: #d4ee34;
$color-warning_dark: #c4d502;
$color-success: #60ce92;
$color-success_dark: #2eb86d;
$color-action: #8638e5;

// Tertiary
$color-pink: #f472c7;
$color-yellow: #edca16;
$color-indigo: #a1aeee;
$color-green: #63ee92;
$color-blue: #70cad7;

// Buttons
$color-button_default: #ed6337;
$color-button_active: #d74618;
$color-button_hover: #f6946a;
$color-button_disabled: #a39fa1;

// Surface
$color-surface_primary: #fbfefd;
$color-surface_secondary: #d7ece1;
$color-surface_tertiary: #e9f4ee;
$color-surface_fields: #f5f1f3;

// Texts
$color-header_primary: #211e1f;
$color-header_secondary: #2e2b2d;

$color-paragraph_primary: #211e1f;
$color-paragraph_secondary: #4a4649;
$color-paragraph_tertiary: #797476;
$color-paragraph_invert: #f5f1f3;
$color-paragraph_placeholder: #a39fa1;

// Borders
$color-border_primary: #2e2b2d;
$color-border_secondary: #5b5659;
$color-border_tertiary: #a39fa1;
$color-border_invert: #f5f1f3;
