$mint_050: #FBFEFD;
$mint_100: #E9F4EE;
$mint_200: #D7ECE1;
$mint_300: #BEE0CE;
$mint_400: #A3D2BE;
$mint_500: #8DBAA7;

// Coral
$coral_050: #FFEDE5;
$coral_100: #FFC3A1;
$coral_200: #F6946A;
$coral_300: #ED6337;
$coral_400: #D74618;
$coral_500: #A9340F;

// Blacks
$black_050: #F5F1F3;
$black_100: #E9E5E7;
$black_200: #D1CDCF;
$black_300: #A39FA1;
$black_400: #797476;
$black_500: #5B5659;
$black_600: #4A4649;
$black_800: #2E2B2D;
$black_900: #211E1F;

// System
$error: #FF264D;
$error_dark: #C52542;
$warning: #D4EE34;
$warning_dark: #C4D502;
$success: #60CE92;
$success_dark: #2EB86D;
$action: #8638E5;

// Tertiary
$pink: #F472C7;
$yellow: #EDCA16;
$indigo: #A1AEEE;
$green: #63EE92;
$blue: #70CAD7;

// Buttons
$button_default: #ED6337;
$button_active: #D74618;
$button_hover: #F6946A;
$button_disabled: #A39FA1;

// Surface
$surface_primary: #FBFEFD;
$surface_secondary: #D7ECE1;
$surface_tertiary: #E9F4EE;
$surface_fields: #F5F1F3;

// Texts
$header_primary: #211E1F;
$header_secondary: #2E2B2D;

$paragraph_primary: #211E1F;
$paragraph_secondary: #4A4649;
$paragraph_tertiary: #797476;
$paragraph_invert: #F5F1F3;
$paragraph_placeholder: #A39FA1;

// Borders
$border_primary: #2E2B2D;
$border_secondary: #5B5659;
$border_tertiary: #A39FA1;
$border_invert: #F5F1F3;