@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../assets/fonts/NunitoSans-Regular.woff2") format('woff2'),
  url("../assets/fonts/NunitoSans-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../assets/fonts/NunitoSans-SemiBold.woff2") format('woff2'),
  url("../assets/fonts/NunitoSans-SemiBold.woff") format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../assets/fonts/NunitoSans-Bold.woff2") format('woff2'),
  url("../assets/fonts/NunitoSans-Bold.woff") format('woff');
}