$color-mint-050: #fbfefd;
$color-mint-100: #e9f4ee;
$color-mint-200: #d7ece1;
$color-mint-300: #bee0ce;
$color-mint-400: #a3d2be;
$color-mint-500: #8dbaa7;

// Coral
$color-coral-050: #ffede5;
$color-coral-100: #ffc3a1;
$color-coral-200: #f6946a;
$color-coral-300: #ed6337;
$color-coral-400: #d74618;
$color-coral-500: #a9340f;

// Blacks
$color-black-050: #f5f1f3;
$color-black-100: #e9e5e7;
$color-black-200: #d1cdcf;
$color-black-300: #a39fa1;
$color-black-400: #797476;
$color-black-500: #5b5659;
$color-black-600: #4a4649;
$color-black-800: #2e2b2d;
$color-black-900: #211e1f;

// System
$color-error: #ff264d;
$color-error-dark: #c52542;
$color-warning: #d4ee34;
$color-warning-dark: #c4d502;
$color-success: #60ce92;
$color-success-dark: #2eb86d;
$color-action: #8638e5;

// Tertiary
$color-pink: #f472c7;
$color-yellow: #edca16;
$color-indigo: #a1aeee;
$color-green: #63ee92;
$color-blue: #70cad7;

// Buttons
$color-button-default: #ed6337;
$color-button-active: #d74618;
$color-button-hover: #f6946a;
$color-button-disabled: #a39fa1;

// Surface
$color-surface-primary: #fbfefd;
$color-surface-secondary: #d7ece1;
$color-surface-tertiary: #e9f4ee;
$color-surface-fields: #f5f1f3;

// Texts
$color-header-primary: #211e1f;
$color-header-secondary: #2e2b2d;

$color-paragraph-primary: #211e1f;
$color-paragraph-secondary: #4a4649;
$color-paragraph-tertiary: #797476;
$color-paragraph-invert: #f5f1f3;
$color-paragraph-placeholder: #a39fa1;

// Borders
$color-border-primary: #2e2b2d;
$color-border-secondary: #5b5659;
$color-border-tertiary: #a39fa1;
$color-border-invert: #f5f1f3;
